apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: easyshop
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/LearnerDevansh/tws-e-commerce-app_hackathon.git
    targetRevision: master
    path: kubernetes
    directory:
      recurse: false
      include: '*.yaml'
  
  destination:
    server: https://kubernetes.default.svc
    namespace: easyshop
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  revisionHistoryLimit: 10
  
  # Ignore differences for fields managed by HPA or other controllers
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
    - group: apps
      kind: StatefulSet
      jsonPointers:
        - /spec/replicas
    - group: ""
      kind: Secret
      jsonPointers:
        - /data
  
  # Health assessment for custom resources
  info:
    - name: 'Application URL'
      value: 'https://easyshop.devopsdock.site'
    - name: 'Namespace'
      value: 'easyshop'
