apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mongodb-pvc
  namespace: easyshop
  annotations:
    argocd.argoproj.io/sync-options: Prune=false
spec:
  accessModes:
    - ReadWriteOnce

  storageClassName: ""

  volumeName: mongodb-pv

  resources:
    requests:
      storage: 4Gi

