apiVersion: v1
kind: Service
metadata:
  name: mongodb
  namespace: easyshop
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: mongodb
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP
